/*-------------------------*/
/*VARIABLES                */
/*-------------------------*/

:root {
    --main-color: #f3535b;
    --light-color: #e5e6ec;
    --dark-color: rgb(80, 79, 79);
    --main-grey: rgb(206, 201, 201);
}

/*-------------------------*/
/*RESETS                   */
/*-------------------------*/

* {
    margin: 0 auto;
    padding: 0;
}

/*-------------------------*/
/*GLOBALS                  */
/*-------------------------*/

body {
    background-color: var(--light-color);
}

a:hover, button:hover {
    cursor: pointer;
}

/*-------------------------*/
/* GAME PAGE INSTRUCTIONS  */
/*-------------------------*/

.game-page {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    padding: 6px 0 5px 0;
}

.game-instructions {
    width: 60%;
    border: 2px solid red;
	background-color: white;
    margin-top: 150px;
    padding-bottom: 20px;
    border-radius: 8px;
}

.game-instructions:hover {
    box-shadow: 0 0 10px 3px var(--dark-color);
}

#instructions {
    font-size: 20px;
}

/*-------------------------*/
/*   START BUTTON          */
/*-------------------------*/

#start-game {
    width: 10%;
    height: 50px;
    margin-top: 150px;
    border-radius: 20px;
    border: 2px solid var(--dark-color); /*REMOVES THE THIN BLACK DEFAULT BORDER*/
    background: var(--main-color);
    color: var(--dark-color);
    font-size: 22px;
    font-weight: bold;
    font-family: inherit;
    outline: none;
}

#start-game:hover {
    background-color: var(--main-grey);
    color: var(--main-color);
    box-shadow: 0 0 6px 3px var(--dark-color);
    border: 1px solid var(--main-color);
}

#start-game:active {
    outline: none;
    transform: translateY(4px);
}